*{
	padding : 0;
	margin : 0;
	border : 0;
	background-color: #F0F8FF;
}
.body{
	display : block;
	width : 1000px;
	overflow : auto;
	margin : 0 auto 0 auto;
}
.pageHeader{
	background-color : white;
	float : left;
	clear : none;
	height : 100px;
	width : 100%;
}
.pageHeaderFixed{
	background-color : white;
	float : left;
	clear : none;
	height : 100px;
	width : 100%;
	position: fixed;
	box-shadow: 0px -4px 15px #000000;
}
.pageLeftMenu{
	background-color : rgba(255,84,239,0.4);
	float : left;
	clear : none;
	height : 1000px;
	width : 160px;
}
.pageContent{
	background-color : rgba(99,255,165,0.4);
	float : left;
	clear : none;
	height : 1000px;
	width : 680px;
}
.pageRightMenu{
	background-color : rgba(255,76,232,0.4);
	float : left;
	clear : none;
	height : 1000px;
	width : 160px;
}
.pageFooter{
	background-color : rgba(196,255,52,0.4);
	float : left;
	clear : none;
	height : 300px;
	width : 100%;
}
#menu{
	background-color: white;
}
a:link.menuLink{
	color: #182154;
	background-color: white;
	text-decoration: none;
	position: relative;
	float: left;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
a:hover.menuLink{
	text-decoration: none;
}
.menuContainer{
	float: right;
	height:100%;
	background-color: white;
}
.menuLinkDiv
{
	background-color: white;
	display:inline-block;
	border:0;
	width:150px;
	height:100%;
	position: relative;
	transform: scale(1);
}
.menuLinkDiv:hover
{
	box-shadow: 0px 2px 15px -3px #000000;
	z-index: 2;
	transform: scale(1.2);
}

.divCircle{
	width: 650px;
	height: 650px;
	border-radius: 50%;
	margin-top: 70px;
	margin-right: auto;
	margin-left: auto;
	border: 15px solid rgba(0, 0, 0, .5);
}