*{
	padding : 0;
	margin : 0;
	border : 0;
	background-color: #F0F8FF;
}
body{
	background-color: 	#caedcc;
}
.body{
	display : block;
	width : 1020px;
	overflow : auto;
	margin : 0 auto 0 auto;
	background-color: 	#f9c05c;
}
.pageHeader{
	background-color :#35474d;
	float : left;
	clear : none;
	height : 100px;
	width : 100%;
}
.pageHeaderFixed{
	background-color : #35474d;
	float : left;
	clear : none;
	height : 100px;
	width : 100%;
	position: fixed;
	box-shadow: 0px -4px 15px #000000;
	z-index: 5;
}
.pageLeftMenu{
	background-color : rgba(255,84,239,0.4);
	float : left;
	clear : none;
	height : 1000px;
	width : 160px;
}
.pageContent{
	background-color: 	#caedcc;
	float : left;
	clear : none;
	height : 1600px;
	width : 100%;
}
.pageRightMenu{
	background-color : rgba(255,76,232,0.4);
	float : left;
	clear : none;
	height : 1000px;
	width : 160px;
}
.pageFooter{
	background-color : 	#35474d;
	float : left;
	clear : none;
	height : 300px;
	width : 100%;
}
#menu{
	background-color: #35474d;
}
.menuLink{
	font-family: Century Gothic;
	color: #c0c5ce;
	background-color:#35474d;
}
a:link.menuLink{
	background-color: #35474d;
	text-decoration: none;
	position: relative;
	float: left;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
a:hover.menuLink{
	text-decoration: none;
}
.menuContainer{
	float: right;
	height:100%;
	background-color: #35474d;
}
.menuLinkDiv
{
	background-color: #35474d;
	display:inline-block;
	border:0;
	width:150px;
	height:100%;
	position: relative;
	transform: scale(1);
}
.menuLinkDiv:hover
{
	box-shadow: 0px 2px 15px -3px #000000;
	z-index: 2;
	transform: scale(1.2);
}
/*.divCircle{
	width: 650px;
	height: 650px;
	border-radius: 50%;
	margin-top: 70px;
	margin-right: auto;
	margin-left: auto;
	border: 15px solid rgba(0, 0, 0, .5);
}*/
.divCircle{
	position: relative;
	max-width: 480px;
	height: 480px;
	border-radius: 50%;
	top: 70px;
	left: 270px;
	/*border: 15px solid rgba(0, 0, 0, .5);*/
	transition: all 0.4s ease-in-out;
	z-index: 4;
}
.strip{
	width: 0px;
	height: 50px;
	background-color: #d2efee;
	position:absolute;
	/*display:inline-block;*/
	left: 390px;
	font-size: 0px;
	transition: all 0.4s ease-in-out;
	box-shadow: -2px 2px 5px 2px rgba(0,0,0,0.19);
	transform: skew(20deg);
	border-radius: 5px;
}
.stripText{
	color: #35474d;
	background-color: #d2efee;
	display: block;
	transform: skew(-20deg);
	margin-top: 5px;
	font-family: Nexa Rust Sans Black;
	letter-spacing: 9px;
}
#strip1{
	top: 100px;
}
#strip2{
	top:200px;
}
#strip3{
	top:300px;
}
.portrait{
	max-width: 480px;
	border-radius: 50%;
}
.pageContent:hover .divCircle{	
	left: 50px;
	transition: 0.7s;
}
.pageContent:hover #strip1{	
	width: 500px;
	padding: 5px 20px;
	font-size: 30px;
	transition: 1s;
}
.pageContent:hover #strip2{	
	width: 400px;
	padding: 5px 20px;
	font-size: 30px;
	transition: 1s;
}
.pageContent:hover #strip3{	
	width: 300px;
	padding: 5px 20px;
	font-size: 30px;
	transition: 1s;
}
.divInfo1{
	position: relative;
	width: 88.5%;
	margin: auto;
	height: 300px;
	background-color: #d2efee;
	box-shadow: -2px 2px 5px 2px rgba(0,0,0,0.19);
	z-index: 3;
	transform: skew(20deg);
	border-radius: 30px;
	margin-bottom: 10px;
}
.divInfo2{
	position: relative;
	width: 88.5%;
	margin: auto;
	height: 300px;
	background-color: #d2efee;
	box-shadow: -2px 2px 5px 2px rgba(0,0,0,0.19);
	z-index: 3;
	transform: skew(-20deg);
	border-radius: 30px;
	margin-bottom: 10px;
}
.infoUnskewed1{
	width: 80%;
	color: #35474d;
	background-color: #d2efee;
	display: block;
	position: absolute;
	transform: skew(-20deg);
}
.infoUnskewed2{
	width: 80%;
	color: #35474d;
	background-color: #d2efee;
	display: block;
	position: absolute;
	transform: skew(20deg);
}
.bigIcon{
	width: 80px;
	display: block;
	position: absolute;
	left: 70px;
	top: 20px;
	background-color: #d2efee;
}
.infoText{
	margin-left: 100px;
	margin-top: 100px;	
	font-family: Nexa Rust Sans Black;
	text-align: center;
	letter-spacing: 2px;
	word-spacing: 2px;
	font-size: 17px;
}
.infoText{
	margin-left: 100px;
	margin-top: 100px;	
	font-family: Nexa Rust Sans Black;
	text-align: center;
	letter-spacing: 2px;
	word-spacing: 2px;
	font-size: 17px;
}
.infoTitle{
	font-family: Nexa Rust Sans Black;
	background-color: #d2efee;
	text-align: center;
	letter-spacing: 5px;
	word-spacing: 2px;
	font-size: 30px;
	display: block;
	position: absolute;
	top: 40px;
	left: 170px;
}
.school{
	font-family: Nexa Rust Sans Black;
	text-align: center;
	font-size: 17px;
}
.sy{
	font-family: MS Reference Sans Serif;
	text-align: center;
	font-size: 17px;
}
.schAdd{
	font-family: MS Reference Sans Serif;
	text-align: center;
	font-size: 17px;
}
.education{
	display: block;
	text-align: left;
	background-color: #d2efee;
}
.schoolDiv{
	width: 100%;
	position: absolute;
	top: 100px;
	left: 150px;
	background-color: #d2efee;
}






